@using Blazor_BookSale_Manager.Models;
@using System.Linq;

@if (IsVisible)
{
    <div class="modal fade show d-block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Bill Details</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <p>ID: @SelectedBill?.Id</p>
                    <p>Total Price: @SelectedBill?.TotalPrice.ToString("c0")</p>
                    <p>Date Created: @SelectedBill?.DateCreated</p>
                    @if (CalculateTotal() > SelectedBill?.TotalPrice)
                    {
                        <p>Discount: @(Math.Round(1 - (SelectedBill?.TotalPrice ?? 0.0) / CalculateTotal(),1)*100)%</p>
                    }
                    <h6>Details:</h6>
                    @if (SelectedBill?.BillDetails != null && SelectedBill.BillDetails.Any())
                    {
                        <ul>
                            @foreach (var detail in SelectedBill.BillDetails)
                            {
                                <li>
                                    @detail.BookSale.Title - SL: @detail.Quantity.ToString("n0") - Giá: @detail.Price.ToString("c0")
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Booksale bị xóa ~~</p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public Bill? SelectedBill { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private void CloseModal()
    {
        OnClose.InvokeAsync(false);
    }

    private double CalculateTotal()
    {
        return SelectedBill?.BillDetails?.Sum(detail => detail.Price) ?? 0;
    }
}
